## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
! dir

 Volume in drive C has no label.
 Volume Serial Number is 2E6A-E828

 Directory of C:\Users\Scott\Class\World_Weather_Analysis\Vacation_Search

02/12/2022  01:41 PM    <DIR>          .
02/12/2022  01:41 PM    <DIR>          ..
02/11/2022  06:52 PM    <DIR>          .ipynb_checkpoints
02/09/2022  06:38 PM               120 config.py
02/12/2022  01:41 PM            32,703 Vacation_Search.ipynb
02/12/2022  09:27 AM    <DIR>          Weather_Database
02/11/2022  06:57 PM    <DIR>          __pycache__
               2 File(s)         32,823 bytes
               5 Dir(s)  341,446,500,352 bytes free

In [3]:
# 1. Import the WeatherPy_database.csv file. 
weather_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
weather_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Busselton,-33.6500,115.3333,70.09,68,13,8.86,AU,2022-02-12 01:16:52,few clouds
1,1,Butaritari,3.0707,172.7902,81.88,78,73,15.43,KI,2022-02-12 01:17:38,light rain
2,2,Cidreira,-30.1811,-50.2056,74.46,83,0,20.31,BR,2022-02-12 01:20:57,clear sky
3,3,Souillac,-20.5167,57.5167,75.58,94,40,3.44,MU,2022-02-12 01:20:57,scattered clouds
4,4,Chumikan,54.7183,135.3150,8.98,92,100,4.41,RU,2022-02-12 01:20:57,light snow

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
weather_data_df = weather_data_df.loc[(weather_data_df["Max Temp"] <= max_temp) & \
                                       (weather_data_df["Max Temp"] >= min_temp)]
weather_data_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
1,1,Butaritari,3.0707,172.7902,81.88,78,73,15.43,KI,2022-02-12 01:17:38,light rain
3,3,Souillac,-20.5167,57.5167,75.58,94,40,3.44,MU,2022-02-12 01:20:57,scattered clouds
10,10,Tagum,7.4478,125.8078,82.31,78,95,4.09,PH,2022-02-12 01:21:00,overcast clouds
16,16,Rikitea,-23.1203,-134.9692,79.18,74,0,16.87,PF,2022-02-12 01:21:02,light rain
31,31,Marawi,7.9986,124.2928,77.25,72,16,1.77,PH,2022-02-12 01:21:08,few clouds
32,32,Buala,-8.1450,159.5921,77.00,90,100,4.25,SB,2022-02-12 01:21:08,light rain
33,33,Luderitz,-26.6481,15.1594,75.49,65,86,9.78,NaN,2022-02-12 01:18:37,overcast clouds
37,37,Georgetown,5.4112,100.3354,78.89,87,20,3.44,MY,2022-02-12 01:17:54,few clouds
39,39,Mahebourg,-20.4081,57.7000,75.49,94,40,3.44,MU,2022-02-12 01:16:43,scattered clouds
42,42,Namibe,-15.1961,12.1522,75.92,82,100,4.45,AO,2022-02-12 01:21:11,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
weather_data_df.isnull().values.any()
weather_data_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                1
Date                   0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
weather_data_df = weather_data_df.dropna()

weather_data_df.isnull().values.any()
weather_data_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Date                   0
Current Description    0
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = weather_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Butaritari,KI,81.88,light rain,3.0707,172.7902,
3,Souillac,MU,75.58,scattered clouds,-20.5167,57.5167,
10,Tagum,PH,82.31,overcast clouds,7.4478,125.8078,
16,Rikitea,PF,79.18,light rain,-23.1203,-134.9692,
31,Marawi,PH,77.25,few clouds,7.9986,124.2928,
32,Buala,SB,77.00,light rain,-8.1450,159.5921,
37,Georgetown,MY,78.89,few clouds,5.4112,100.3354,
39,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,
42,Namibe,AO,75.92,overcast clouds,-15.1961,12.1522,
51,Bathsheba,BB,77.61,few clouds,13.2167,-59.5167,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Butaritari,KI,81.88,light rain,3.0707,172.7902,Isles Sunset Lodge
3,Souillac,MU,75.58,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
10,Tagum,PH,82.31,overcast clouds,7.4478,125.8078,Big 8 Corporate Hotel
16,Rikitea,PF,79.18,light rain,-23.1203,-134.9692,People ThankYou
31,Marawi,PH,77.25,few clouds,7.9986,124.2928,Derogongan Residence
32,Buala,SB,77.00,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
37,Georgetown,MY,78.89,few clouds,5.4112,100.3354,Cititel Penang
39,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
42,Namibe,AO,75.92,overcast clouds,-15.1961,12.1522,Hotel Chik Chik Namibe
51,Bathsheba,BB,77.61,few clouds,13.2167,-59.5167,Atlantis Hotel

In [18]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna(inplace = True)
hotel_df.isnull().values.any()
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# SCOTT ADD - From Weather_Database 
# city_current_description = city_weather["weather"][0]["description"]


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))